{% block advanced_task_widget %}
    <div class="row well">
        <div class="col-md-6">
            {{ form_row(form.title) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="row well">
        <div class="col-md-6">
            {{ form_row(form.owner) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.creator) }}
        </div>
    </div>
    <div class="row well">
        <div class="col-md-12">
            {{ form_row(form.persons) }}
        </div>
    </div>
{% endblock advanced_task_widget %}

{% block person_widget %}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.lastname) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.email) }}
        </div>
    </div>
{% endblock person_widget %}
