{% extends 'AppBundle::base.html.twig' %}

{% block menu %}
    <li><a href="{{ path('sylius_flow_start', { scenarioAlias: 'task' }) }}">New task</a></li>
{% endblock menu %}

{% block content %}
    {% for task in tasks %}
        <div class="well">
            <div class="row">
                <div class="col-md-11">
                    {{ task.title }}
                    <br />
                    {{ task.description }}
                </div>
                <div class="col-md-1 text-right">
                    <a href="{{ path('app_tasks_update', {task: task.id}) }}" class="glyphicon glyphicon-pencil"></a>
                    <a href="{{ path('app_tasks_delete', {task: task.id}) }}" class="glyphicon glyphicon-trash"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% for index, person in task.persons.thatHasFirstname() %}
                        <span class="label label-primary">Firstname : {{ person.firstname }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
